/* CSS Document */

body

{	font-family:Verdana;
	font-size:10px;
	color:#191919;
	background-image:url(../images/top-bg.gif);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	MARGIN: 0px;
	PADDING-TOP: 0px; }

td	{font-size:10px; font-family:Verdana;} 
th	{font-size:10px; font-family:Verdana;} 
a:link	{color:#000000; text-decoration : none;}
a:visited {color:#000000; text-decoration : none;}
a:hover {color:#000000; text-decoration : underline;}

.top-login-links a:link	{color:#FFFFFF; text-decoration : none;}
.top-login-links a:visited {color:#FFFFFF; text-decoration : none;}
.top-login-links a:hover {color:#FFFFFF; text-decoration : none;}



.texthead {
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	text-align:left;
	color:#191919;
	padding-left:5px; 
}
.bluetexthead {
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	color:#3C6873;
	padding-left:5px; 
}
.buttonred 
{
	background-color:#850202;
	padding:1px 5px 1px 5px;
	border:1px solid #666666;
	color:#FFFFFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.buttonred:hover 
{
	background-color:#470000;
	padding:1px 5px 1px 5px;
	border:1px solid #666666;
	font-weight:bold;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.buttonblue 
{
	background-color:#0079A8;
	padding:1px 5px 1px 5px;
	border:1px solid #666666;
	color:#FFFFFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.buttonblue:hover 
{
	background-color:#0079A8;
	padding:1px 5px 1px 5px;
	border:1px solid #666666;
	font-weight:bold;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.buttonblueborder 
{
	background-color:#0079A8;
	padding:1px 5px 1px 5px;
	border:1px solid #FFFFFF;
	color:#FFFFFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.buttonblueborder:hover 
{
	background-color:#0079A8;
	padding:1px 5px 1px 5px;
	border:1px solid #FFFFFF;
	font-weight:bold;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.error
{
	font-family:Helvetica;
	font-size:11px;
	color: red;
	text-decoration:none;
	line-height:22px;
	font-weight:bold;
}

.top-tx {
	font-family:Verdana;
	font-size:10px;
	text-align:right;
	color:#191919;
	padding: 0px 65px 8px 0px; }
.top-tx a:link {
	font-family:Verdana;
	font-size:10px;
	color:#191919;
	text-decoration:none; }
.top-tx a:visited {
	font-family:Verdana;
	font-size:10px;
	color:#191919;
	text-decoration:none; }
.top-tx a:hover {
	font-family:Verdana;
	font-size:10px;
	color:#ac1616;
	text-decoration:underline; }

.sp-pad {
	padding: 0px 3px 0px 2px; }

.navi-btm-center {
	background:url(../images/navi-btm-center.gif);
	background-repeat:repeat-x; }


.TextBox {
	font-family: Verdana;
	padding:0px;
	margin:0px;
	font-size: 11px;
	line-height:13px;
	text-indent:3px;
	width:110px;
	color: #909090;
	vertical-align:top;
	text-align:left;
	height: 20px;
	border: 1px solid #cde6e6;
	padding: 2px 0px 0px 0px;
}

.TextBox1 {
	font-family: Verdana;
	padding:0px;
	margin:0px;
	font-size: 11px;
	line-height:13px;
	text-indent:3px;
	width:200px;
	color: #909090;
	vertical-align:top;
	text-align:left;
	height: 20px;
	border: 1px solid #cde6e6;
	padding: 2px 0px 0px 0px;
}
.TextBox2 {
	font-family: Verdana;
	padding:0px;
	margin:0px;
	font-size: 11px;
	line-height:13px;
	text-indent:3px;
	width:150px;
	color: #909090;
	vertical-align:top;
	text-align:left;
	height: 20px;
	border: 1px solid #cde6e6;
	padding: 2px 0px 0px 0px;
}
.textfieldbig {
	font-family: Verdana;
	padding:0px;
	margin:0px;
	font-size: 11px;
	line-height:13px;
	text-indent:3px;
	width:220px;
	color: #909090;
	vertical-align:top;
	text-align:left;
	height: 20px;
	border: 1px solid #cde6e6;
	padding: 2px 0px 0px 0px;
}
.textarea {
	font-family: Verdana;
	padding:0px;
	margin:0px;
	font-size: 11px;
	line-height:13px;
	text-indent:3px;
	color: #909090;
	width:220px;
	height:70px;
	vertical-align:top;
	text-align:left;
	border: 1px solid #cde6e6;
}
.pad01 {
	padding: 0px 0px 0px 15px;}

.grn-hd-center {
	background:url(../images/grn-hd-center.jpg);
	background-repeat:repeat-x; }

.head-tx {
	font-family:Verdana;
	font-size:13px;
	font-weight:bold;
	color:#000000;
	padding: 0px 0px 0px 15px; }

.head-view {
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	text-align:right;
	padding: 0px 10px 0px 0px; }
.head-view a:link {
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	text-decoration:none; }
.head-view a:visited {
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	text-decoration:none; }
.head-view a:hover {
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	text-decoration:underline; }

.wht-body-left-center {
	background:url(../images/wht-body-left-center.gif);
	background-repeat:repeat-y; }

.wht-body-right-center {
	background:url(../images/wht-body-right-center.gif);
	background-repeat:repeat-y; }

.wht-body-btm-center {
	background:url(../images/wht-body-btm-center.gif);
	background-repeat:repeat-x; }

.box {
	border: 1px solid #eeeeee;
	background-color:#f8f8f8;
	padding: 10px 10px 10px 10px; }

.text11
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;	
	color:#000000;		
}
.text12
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;	
	color:#000000;		
}

.linktitle
{
	font-family:Tahoma;
	font-size:12px;
	text-decoration:none;	
	font-weight:bold;	
	color:#016E8F;		
}
.linktitle:hover
{
	font-family:Tahoma;
	font-size:12px;
	text-decoration:none;	
	color:#009DD1;		
	font-weight:bold;	
}

.whitelink
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;	
	font-weight:bold;	
	color:#FFFFFF;		
}
.whitelink:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;	
	color:#ffffff;		
	font-weight:bold;	
}
.lefttitle
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;	
	color:#993300;
	font-weight:bold;		
}
.leftlink
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;	
	color:#016E8F;		
}
.leftlink:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;	
	color:#009DD1;		
}
.img-tx {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#545454; text-decoration:none }
.img-tx  a:link {
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;	font-weight:bold; color:#545454;
	text-decoration:none }
.img-tx  a:visited {
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;	font-weight:bold; color:#545454;
	text-decoration:none }	
.img-tx  a:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;	font-weight:bold; color:#545454;
	text-decoration:underline }		
	
.org-hd-center {
	background:url(../images/org-hd-center.gif);
	background-repeat:repeat-x; }

.red-hd-center {
	background:url(../images/red-hd-center.gif);
	background-repeat:repeat-x;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF; }

.navi-btm-border {
	border-bottom: 1px solid #efefef; }

.nv-tx {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:191919;
	padding: 5px 0px 8px 0px; }
.nv-tx a:link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:191919;
	text-decoration:none;}
.nv-tx a:visited {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:191919;
	text-decoration:none;}
.nv-tx a:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:ac1616;
	text-decoration:underline;}

.footer-bg {
	background:url(../images/footer-bg.jpg);
	background-repeat:repeat-x; }

.foot-tx {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#191919;
	padding: 25px 0px 4px 10px; }
.foot-tx a:link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#191919;
	text-decoration:none; }
.foot-tx a:visited {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#191919;
	text-decoration:none; }
.foot-tx a:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ac1616;
	text-decoration:underline; }

.foot-tx1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#191919;
	padding: 4px 0px 20px 10px; }
.foot-tx1 a:link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#191919;
	text-decoration:none; }
.foot-tx1 a:visited {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#191919;
	text-decoration:none; }
.foot-tx1 a:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ac1616;
	text-decoration:underline; }

.shoppcart {
	background:url(../images/shopping_cart_banner.gif);
	background-repeat:no-repeat;
	height:88px;
	padding: 5px 15px 0px 0px; }

.shopp-tx {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:right;
	padding: 2px 0px 2px 0px;
	color:#FFFFFF; }

.shopp-img-pad {
	text-align:right;
	padding: 8px 0px 0px 0px; }
	

.button {
	background-color:#98D03B;
	padding:1px 5px 1px 5px;
	border:2px solid #FFFFFF;
	color:#AB2121;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	}
.listmenu {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height:13px;
	text-indent:3px;
	color: #909090;
	border: 1px solid #cde6e6;
	padding: 2px 0px 0px 0px;
	}
.navilink
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #909090;
	text-decoration:none;
	font-weight:bold;
}
.navilink:hover
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #909090;
	text-decoration:none;
	font-weight:bold;
}
